.container {
	background-color: bisque;
	width: 40%;
}

.inputArea {
	height: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.input {
	height: 35px;
	width: 80%;
	background-color: #fff;
	border-radius: 20px;
	padding-left: 10px;
	color: #000;
}