.wrapper {
	position: absolute;
	top:0;
	left: 0;
	z-index: 2;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.85);
	overflow: hidden;
}

.burgerBar {
	background-color: #fff;
	border-right:3px solid #000;
	width:300px;
	height: 200%;
	position: absolute;
	transform: translate(-100%);
	transition: all 1s;
	z-index: 2;

	color:#000;
}

.clicked {
	transition: all 1s;
	transform: translateX(0);
}

.unclicked {
	transition: all 1s;
	transform: translateX(-100%);
}

.burgerContent {
	height: 20%;
	padding: 20px;

	display: flex;
	flex-direction: column;
	justify-content:space-between;

	span{
		display: flex;
		justify-content: center;
		font-size: 40px;
		color:#7C9070;
	}

	ul {
		height: 80%;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		
	}
	li {
		list-style: none;
		padding: 20px;

		&:hover {
			background-color: #7C9070;
			color: #fff;
			transition: all 0.3s;
			cursor: pointer;
		}
	}
}