.wrapper {
	height:100vh;
}
.container {
	height:100%;
	width: 80%;
	margin: auto;
  padding:0 50px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	color: black;
	background-color: #fff;

	border-style: solid;
  border-width: 15px;
  border-top-color: lighten(#000, 20%);
  border-right-color: lighten(#000, 0%);
  border-bottom-color: lighten(#000, 20%);
  border-left-color: lighten(#000, 0%);
  box-shadow: 2px 2px 4px rgba(0,0,0,.6);

	@media (max-width:500px) {
		padding:0 20px;
	}
}

.compareSection{
	width: 100%;
	height: 70%;

	background-color: #fff;
	border-radius: 20px;
	padding:  50px;

	display: flex;
	justify-content: space-around;

	@media (min-width:320px) {
		padding:  5px;
		flex-direction: column;
	}

	@media (min-width:720px) {
		padding:  5px;
		flex-direction: row;
	}
}

.title{
	color:#7C9070;

	@media (min-width:320px) {
		font-size: 22px;
	}

	@media (min-width:720px) {
		font-size: 30px;
	}

	@media (min-width:1020px) {
		font-size: 36px;
	}
}

.subtitle {
	color:#000;
	@media (min-width:320px) {
		font-size: 16px;
	}

	@media (min-width:720px) {
		font-size: 20px;
	}

}

.button {
	width: 60px;
	height: 60px;
	
	border-radius: 30px;
	border: 2px solid #000;
	background-color: #7C9070;
	

	transition: transform 1s ease 0s;
	&:hover{
		transform: rotate(360deg);
	}
}

.icon {
	width: 35px;
}

.buttonContainer{
	padding: 20px;
	height: 30%;
	width: 100%;

	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
}

.vs {
	display: flex;
	justify-content: center;
	align-items: center;
}
